:host {
  display: block;
}

.column-based-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0.2em 0.2em 0.4em hsl(0deg 0% 85%);
  margin: 0.5rem;
  background-color: hsl(240, 60%, 96%);
  border-radius: 0.5em;
  padding: 0.7em;

  > * {
    margin: 0.5em 0;
  }

  .button-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
  }
}
